<div class="teamDiv">
    <a href="/teams/@Team?.Name">
        <div class="teamLogoDiv">
            <img class="teamLogo" src="@(Team?.LogoPath ?? Team?.LogoLink)" alt="@Team?.Name logo" />
        </div>
        <div class="teamName">
            @Team?.Name
        </div>
    </a>
</div>


@code {
    [Parameter]
    public Team? Team { get; set; }
}
