.favoriteButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

svg {
    overflow: visible;
}

path {
    stroke-width: 0.3px;
}

.default {
    color: var(--light);
}

.favorite {
    color: #F5DF4D;
}

.favoriteButton {
    max-width: 80%;
    max-height: 50%;
}