<AuthorizeView>
    <Authorized>
        @if (User?.ProfilePicturePath != null)
        {
            <img class="profileIcon" src="@User?.ProfilePicturePath" alt />
        }
        else
        {
            <div class="profileIconNoPicture">@User?.Username!.Substring(0,1).ToUpper()</div>
        }
    </Authorized>
    <NotAuthorized>
        <img class="profileIcon" src="icons/user-icon.png" alt />    
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public User? User { get; set; }
}