.profileIcon, .profileIconNoPicture {
    border-radius: 100%;
    object-fit: cover;
    z-index: 1;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.profileIconNoPicture {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white !important;
    background-color: var(--link);
}

.profileIconNoPicture:hover, .profileIconNoPicture:active, .profileIconNoPicture:focus {
    text-decoration: none;
    color: var(--light);
}