@if (Game != null)
{
    <div class="gameCard @(Game.IsFinished ? "finished" : "")">
        <div class="gameName">@Game.Name</div>
         <div class="gameBackground" style="background-image: url(@Game.ImagePath)"></div>
    </div>
}

@code {
    [Parameter]
    public PredictionGame? Game { get; set; }
}