@if (Game != null)
{
    <div class="gameCard @(Game.IsFinished ? "finished" : "")">
        <div class="gameName">@Game.Name</div>
        @if (@Game.ImagePath != null)
        {
            <div class="gameBackground" style="background-image: url(@Game.ImagePath)"></div>
        }
        else
        {
            <div class="gameBackground" style="background-image: url(./prediction-games/backgrounds/default.jpg)"></div>
        }
    </div>
}

@code {
    [Parameter]
    public PredictionGame? Game { get; set; }
}