@if (Game != null)
{
    <a href="/prediction-games/@Game.ID">
        <div class="gameCard @(Game.Finished ? "finished" : "")">
            <div class="gameName">@Game.Name</div>
            <div class="gameBackground">
                <img class="gameBackgroundImage" src="@Game.ImagePath" alt="Game background" />
            </div>
        </div>
    </a>
}

@code {
    [Parameter]
    public PredictionGame? Game { get; set; }
}