@page "/"

@inherits HomeBase

<PageTitle>Home</PageTitle>

@if (Matches != null)
{
    @if (Matches.Any())
    {
        <h1>Matches today</h1>
        @foreach (var leagueWithMatchesGroup in GetMatchesByLeague(Matches))
        {
                <LeagueCard League="leagueWithMatchesGroup.matches.ElementAt(0).League" Matches="leagueWithMatchesGroup.matches" MatchOrderOption="@MatchOrderOption.RoundThenDateAsc" />
        }
    }
    else
    {
        <h1>No matches today 😒</h1>

        <h2>Check out upcoming matches instead</h2>

        @if (UpcomingMatches != null)
        {
            @foreach (var leagueWithMatchesGroup in GetMatchesByLeague(UpcomingMatches))
            {
                <LeagueCard League="leagueWithMatchesGroup.matches.ElementAt(0).League" Matches="leagueWithMatchesGroup.matches" MatchOrderOption="@MatchOrderOption.RoundThenDateAsc" />
            }
        }    
    }
}
else
{
    <LoadingSpinner />
}