@page "/"

@inherits HomeBase

<PageTitle>Home</PageTitle>

@if (Matches != null)
{
    @if (Matches.Any())
    {
        <h1>Matches today</h1>
        @foreach (var leagueWithMatchesGroup in (User != null ? MatchService.GetMatchesGroupedByLeagueFavoritesFirst(User, Matches) : MatchService.GetMatchesGroupedByLeague(Matches)))
        {
            <LeagueHeaderCard League="leagueWithMatchesGroup.matches.ElementAt(0).League" Matches="leagueWithMatchesGroup.matches" MatchOrderOption="@MatchOrderOption.RoundThenDateAsc" />
        }
    }
    else
    {
        <h1>No matches today 😒</h1>

        @if (UpcomingMatches != null && UpcomingMatches.Any())
        {
           <h2>Upcoming matches</h2>
            @foreach (var leagueWithMatchesGroup in (User != null ? MatchService.GetMatchesGroupedByLeagueFavoritesFirst(User, UpcomingMatches) : MatchService.GetMatchesGroupedByLeague(UpcomingMatches)))
            {
                <LeagueHeaderCard League="leagueWithMatchesGroup.matches.ElementAt(0).League" Matches="leagueWithMatchesGroup.matches" MatchOrderOption="@MatchOrderOption.RoundThenDateAsc" />
            }
        }     
    }
}
else
{
    <LoadingSpinner />
}