@page "/leagues"
@inherits LeaguesBase

<PageTitle>Leagues</PageTitle>

<h1>Leagues</h1>

@if (CountriesWithLeagues != null)
{
    <Virtualize TItem="Country" Items="CountriesWithLeagues.OrderBy(c => c.Name).ToList()" Context="country">
        <CountryCard Country="country" />

        <Virtualize TItem="League" Items="ViewHelper.GetFavoriteLeaguesFirst(country.Leagues, User).ToList()" Context="league">
            <ItemContent>
                <LeagueHeaderCard League="league" />
            </ItemContent>
        </Virtualize>
    </Virtualize>
}
else
{
    <LoadingSpinner />
}