@page "/matches"

@inherits MatchesBase
@rendermode InteractiveServer

<Calendar SelectedDateValueChanged="OnSelectedDateChangedInCalendar" @rendermode="@RenderMode.InteractiveServer" />

@if (Matches != null)
{
    @if (Matches.Any())
    @foreach (var leagueWithMatchesGroup in GetMatchesByLeague(Matches))
    {
            <LeagueCard League="leagueWithMatchesGroup.matches.ElementAt(0).League" Matches="leagueWithMatchesGroup.matches" @rendermode="@RenderMode.InteractiveServer" MatchOrderOption="@MatchOrderOption.RoundThenDateAsc" />
    }

    else
    {
        <h1>No matches on this day 😒</h1>
    }
}
else
{
    <LoadingSpinner />
}