@page "/matches"

@inherits MatchesBase

<PageTitle>Matches</PageTitle>

<Calendar SelectedDateValueChanged="OnSelectedDateChangedInCalendarAsync" />

@if (Matches != null)
{
    @if (Matches.Any())
    @foreach (var leagueWithMatchesGroup in GetMatchesByLeague(Matches))
    {
            <LeagueCard League="leagueWithMatchesGroup.matches.ElementAt(0).League" Matches="leagueWithMatchesGroup.matches" MatchOrderOption="@MatchOrderOption.RoundThenDateAsc" />
    }

    else
    {
        <h2>No matches on this day 😒</h2>
    }
}
else
{
    <LoadingSpinner />
}