@page "/teams"
@inherits TeamsBase

<PageTitle>Teams</PageTitle>

<h1>Teams</h1>

@if (CountriesWithTeams != null)
{
    <Virtualize TItem="Country" Items="CountriesWithTeams.OrderBy(c => c.Name).ToList()" Context="country">
        <ItemContent>
            <CountryCard Country="country" />

            <div class="teamsGroup">
                <Virtualize TItem="Team" Items="ViewHelper.GetFavoriteTeamsFirst(country.Teams, User).ToList()" Context="team">
                    <ItemContent>
                            <TeamHeaderCard Team="team" />
                    </ItemContent>
                </Virtualize>
            </div>
        </ItemContent>
    </Virtualize>
}
else
{
    <LoadingSpinner />
}