@page "/teams"
@inherits TeamsBase

<PageTitle>Teams</PageTitle>

<h1>Teams</h1>

@if (CountriesWithTeams != null)
{
    <Virtualize TItem="Country" Items="CountriesWithTeams.OrderBy(c => c.Name).ToList()" Context="country">
        <ItemContent>
            <CountryCard Country="country" />

            <Virtualize TItem="Team" Items="country.Teams.OrderBy(t => t.Name).ToList()" Context="team">
                <ItemContent>
                    <div class="teamsGroup">
                        <TeamHeaderCard Team="team" />
                    </div>
                </ItemContent>
            </Virtualize>
        </ItemContent>
    </Virtualize>
}
else
{
    <LoadingSpinner />
}