@page "/teams"
@inherits TeamsBase

<PageTitle>Teams</PageTitle>

@if (CountriesWithTeams != null)
{
    @foreach (Country country in CountriesWithTeams.OrderBy(c => c.CountryID))
    {
        <CountryCard Country="country" />
        <div class="teams contentGroup">
            @foreach (Team team in country.Teams.OrderBy(t => t.Name))
            {
                <TeamCard Team="team" />
            }
        </div>      
    }
}
else
{
    <LoadingSpinner />
}