@page "/teams"
@inherits TeamsBase

<PageTitle>Teams</PageTitle>

<h1>Teams</h1>

@if (CountriesWithTeams != null)
{
    @foreach (Country country in CountriesWithTeams.OrderBy(c => c.Name))
    {
        <div class="teamsGroup">
            <CountryCard Country="country" />     
            @foreach (Team team in country.Teams.OrderBy(t => t.Name))
            {
                <TeamHeaderCard Team="team" />
            }
        </div>
    }
}
else
{
    <LoadingSpinner />
}