@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --light: #ffffff;
    --dark: #080808;
    --link: var(--bs-link-color);
    --link-hover: rgba(255, 255, 255, 0.1);
    --error: rgb(255, 0, 0);
    --placeholder-light: rgba(255, 255, 255, 0.6);
    --placeholder-dark: rgba(0, 0, 0, 0.6);
}

html, body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--dark);
    color: var(--light);
    font-size: 1em;
}

h1 {
    color: var(--light);
    font-size: calc(1.5rem + 1vw);
    text-align: center;
    margin: 3rem 0;
}

h1:focus {
    outline: none;
    border: none;
}

h2 {
    color: var(--light);
    font-size: calc(1rem + 0.5vw);
    text-align: center;
    margin: 3rem 0;
}

p {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    font-size: 1rem;
    text-align: justify;
}

.button {
    width: 100%;
    background-color: var(--link) !important;
    border: 1px solid var(--link) !important;
    color: white;
}

.contentGroup {
    border: 1px solid var(--light);
    background-color: var(--dark);
    border-radius: 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

.alert {
    font-size: 1rem !important;
}

@media (min-width: 0px) {
    .contentGroup {
        padding: 5px;
    }
}

@media (min-width: 500px) {
    .contentGroup {
        padding: 20px;
    }
}