@page "/"

@inherits HomeBase

<PageTitle>Home</PageTitle>

@if (Matches != null)
{
    @if (Matches.Any())
    {
        <h1>Matches today</h1>

        <Virtualize TItem="LeagueMatchGroup" Items="ViewHelper.GetMatchesGroupedByLeague(Matches, User).ToList()" Context="leagueMatchGroup">
            <ItemContent>
                <LeagueHeaderCard League="leagueMatchGroup.League" Matches="leagueMatchGroup.Matches" MatchOrderOption="@MatchOrderOption.RoundThenDateAsc" />
            </ItemContent>
        </Virtualize>
    }
    else
    {
        <h1>No matches today 😒</h1>

        @if (UpcomingMatches != null && UpcomingMatches.Any())
        {
            <h2>Upcoming matches</h2>

            <Virtualize TItem="LeagueMatchGroup" Items="ViewHelper.GetMatchesGroupedByLeague(UpcomingMatches, User).ToList()" Context="leagueMatchGroup">
                <ItemContent>
                    <LeagueHeaderCard League="leagueMatchGroup.League" Matches="leagueMatchGroup.Matches" MatchOrderOption="@MatchOrderOption.RoundThenDateAsc" />
                </ItemContent>
            </Virtualize>
        }
    }
}
else
{
    <LoadingSpinner />
}