.filterContainer {
    margin: auto;
    max-width: 800px;
}

.filterContainer ::deep input {
    margin: auto;
    max-width: 300px;
    text-align: center;
}

h2 {
    margin: auto;
    text-align: left;
    max-width: 800px;
}