@page "/matches"

@inherits MatchesBase

<PageTitle>Matches</PageTitle>

<h1>Matches</h1>

<Calendar SelectedDateValueChanged="OnSelectedDateChangedInCalendarAsync" />

@if (Matches != null)
{
    @if (Matches.Any())
    {
        <Virtualize TItem="LeagueMatchGroup" Items="LeagueMatchGroups.ToList()" Context="leagueMatchGroup">
            <ItemContent>
                <LeagueHeaderCard League="leagueMatchGroup.League" Matches="leagueMatchGroup.Matches" MatchOrderOption="@MatchOrderOption.RoundThenDateAsc" />
            </ItemContent>
        </Virtualize>
    }
    else
    {
        <h1>No matches on this day 😒</h1>
    }
}
else
{
    <LoadingSpinner />
}