@page "/teams"
@inherits TeamsBase

<PageTitle>Teams</PageTitle>

<h1>Teams</h1>

<div class="mb-3 filterContainer">
    <InputText id="teamFilter" @bind-Value="Filter" class="input form-control" placeholder="Search..." />
</div>

@if (CountriesWithTeams != null)
{
    if (string.IsNullOrWhiteSpace(Filter) && FavoriteTeams.Any())
    {
        <CountryCard Text="Favorites" />
        <Virtualize TItem="Team" Items="FavoriteTeams.ToList()" Context="team">
            <ItemContent>
                <TeamHeaderCard Team="team" BookmarkClicked="OnBookmarkClicked" />
            </ItemContent>
        </Virtualize>
    }

    <Virtualize TItem="Country" Items="CountriesWithTeams
        .Where(
            c => c.Name.ToLower().Contains(Filter.ToLower())
            || c.Teams.Any(t => t.Name.ToLower().Contains(Filter.ToLower()))
        )
        .OrderBy(c => c.Name).ToList()" Context="country">

        <CountryCard Country="country" />

        <Virtualize TItem="Team" Items="ViewHelper.GetFavoriteTeamsFirst(country.Teams, User)
            .Where(
                t => t.Country.Name.ToLower().Contains(Filter.ToLower())
                || t.Name.ToLower().Contains(Filter.ToLower())
            )
            .ToList()" Context="team">

            <ItemContent>
                <TeamHeaderCard Team="team" />
            </ItemContent>
        </Virtualize>
    </Virtualize>
}
else
{
    <LoadingSpinner />
}