<footer id="footer" class="container text-center">
    <a href="https://www.flaticon.com/free-icons/user" title="Profile icon">Profie icon created by Freepik - Flaticon</a><br />
    <a href="https://www.flaticon.com/free-icons/sports-and-competition" title="Sports and competition icons">Sports and competition icons created by afif fudin - Flaticon</a><br />
    <a href="https://www.flaticon.com/free-icons/moon" title="Moon icons">Moon icons created by Good Ware - Flaticon</a>
</footer>
