@inject IJSRuntime JSRuntime

<div id="header" class="sticky-top">
     <div class="menuPoints">
        <div class="themeDiv">
            <button type="button" @onclick="ChangeStyleAsync">
                @if (theme == "dark")
                {
                    <img src="icons/moon-light.png" alt="Light" />
                }
                else
                {
                    <img src="icons/moon-dark.png" alt="Dark" />
                }
            </button>
        </div>
        <div class="searchBarDiv">
            <SearchBar />
        </div>
        <div class="userMenuDiv">
            <UserMenu />
        </div>
     </div>
    <nav class="navbar">
        <div id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link" href="./" ActiveClass="active" Match="NavLinkMatch.All">
                        Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="./matches">
                        Matches
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="./leagues">
                        Leagues
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="./teams">
                        Teams
                    </NavLink>
                </li>
            </ul>
        </div>
    </nav>
</div>

@code {
    private string theme = "dark";

    private async Task ChangeStyleAsync()
    {
        if (theme == "dark")
        {
            await JSRuntime.InvokeVoidAsync("changeStyleSheet", "app_light.css");
            theme = "light";
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("changeStyleSheet", "app_dark.css");
            theme = "dark";
        }

        await InvokeAsync(StateHasChanged);
    }
}