#header {
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid black;
}

#navbarSupportedContent {
    justify-content: center;
    font-size: 1.5em;
}

::deep .nav-link {
    margin: 0px 20px;
}

::deep .active {
    color: steelblue !important;
}

.navbar-toggler {
    position: fixed;
    top: 35px;
    left: 30px;
    width: 40px;
    height: 40px;
    z-index: 1;
    padding: 0;
    border: 0;
    
}

.navbar-toggler:focus {
    box-shadow: none;
}