#profileButton {
    height: 100%;
    aspect-ratio: 1 / 1;
    border: none;
    padding: 0;
    background-color: inherit;
}

#profileButton:focus, #profileButton:active {
    outline: none;
    box-shadow: none;
}

#profileButton::after {
    display: none;
}

.dropdown-menu {
    background-color: var(--dark);
    border: 1px solid var(--light);
    margin-top: 15px !important;
    padding: 0;
}

.dropdown-item {
    padding: 10px;
    color: var(--light);
    background-color: var(--dark);
    border-radius: var(--bs-dropdown-border-radius);
    text-align: center;
}

.dropdown-item:hover {
    color: var(--link);
}

.username {
    color: var(--link);
    text-align: center;
}

hr {
    margin: 0;
    border-color: var(--light);
}


@media (min-width: 0px) {
    .dropdown-item {
        font-size: 5vw;
    }
}

@media (min-width: 500px) {
    .dropdown-item {
        font-size: 1.5rem;
    }
}
