.teamDiv {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--light);
    width: 150px;
    aspect-ratio: 1 / 1.2
}

.homeTeamDiv {
    float: left;
}

.awayTeamDiv {
    float: right;
}

.teamLogoDiv {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamLogo {
    width: 80%;
    max-height: 80%;
}

.teamName {
    text-align: center;
    display: flex;
    justify-content: center;
}

@media (min-width: 0px) {
    .teamDiv {
        width: 25%;
    }

    .teamName {
        font-size: 3vw;
    }
}

@media (min-width: 500px) {
    .teamName {
        font-size: 1.5rem;
    }

    .teamName {
        word-wrap: break-word;
    }
}