@inherits ChatWindowBase

@if (Game != null && GameChatService.Messages.Count() > 0)
{
    <div class="chatWindow highlight" @ref=ChatWindowReference>
        @foreach (var message in GameChatService.Messages.Where(m => m.PredictionGameID == Game.ID).OrderBy(m => m.SentAt))
        {
            <div class="chatRow">
                <div class="detailsDiv">
                    <div class="userDiv">
                        <div class="avatarDiv">
                            <ProfileIcon User="@message?.User" />
                        </div>
                        <div class="usernameDiv">@message?.User?.Username</div>
                    </div>
                    <div class="sentAtDiv">
                        @if (message?.SentAt != null)
                        {
                            <ToLocal DateTime="@DateTime.SpecifyKind(message.SentAt.Value, DateTimeKind.Utc)" Format="@(MessageSentToday(message) ? "HH:MM" : "yyyy. mm. dd HH:MM")" @rendermode="@RenderMode.InteractiveServer" />
                        }
                        else
                        {
                            <span>N/A</span>
                        }
                    </div>
                </div>
                <div class="messageDiv">
                    @message?.Text
                </div>
            </div>
        }
    </div>
}

<input type="text" class="input form-control" placeholder="Send a message" @bind="Message" @onkeyup="SendMessageAsync" />