.filterSection {
    margin: auto;
    margin-bottom: 50px;
    width: 100%;
    max-width: 300px;
}

.input-group {
    justify-content: center;
}

input, select {
    background-color: var(--dark);
    color: var(--light);
}

input:focus, select:focus {
    background-color: var(--dark);
    color: var(--light);
}

::placeholder {
    color: var(--light);
}

button {
    width: 100%;
    border-color: var(--light);
    color: var(--light);
    background-color: var(--link) !important;
    border: 1px solid var(--link) !important;
}

@media (min-width: 1920px) {
    .filterSection {
        position: fixed;
        top: 250px;
        margin-left: 50px;
    }
}