@if (User.PredictionGames != null)
{
        @if (CreatedGames != null && CreatedGames.Count() > 0)
        {
            <h2>Created Games</h2>
            <div class="gameList">
                @foreach (var game in CreatedGames.OrderBy(g => g.Finished).ThenByDescending(g => g.CreatedAt))
                {
                    <GameCard Game="game" DefaultImagePath="@ApplicationConfig?.PredictionGameDefaultImage" />
                }
            </div>
        }
        
        @if (JoinedGames != null && JoinedGames.Count() > 0)
        {
            <h2>Joined Games</h2>
            <div class="gameList">
                @foreach (var game in JoinedGames.OrderBy(g => g.Finished).ThenByDescending(g => g.CreatedAt))
                {
                    <GameCard Game="game" DefaultImagePath="@ApplicationConfig?.PredictionGameDefaultImage" />
                }
            </div>
        }
        @if (CreatedGames != null && JoinedGames != null && CreatedGames.Count() == 0 && JoinedGames.Count() == 0)
        {
            <p>
                You are not participating in any prediction game yet. You can create your own game or join an existing one via
                the Create and Join menupoints.
            </p>
        }
    }
else
{
    <LoadingSpinner />
}

@code {
    [CascadingParameter(Name = "User")]
    public User User { get; set; } = default!;

    [Inject]
    protected IApplicationService ApplicationService { get; set; } = default!;

    protected ApplicationConfig ApplicationConfig { get; set; } = default!;

    private IEnumerable<PredictionGame> CreatedGames { get; set; } = default!;

    private IEnumerable<PredictionGame> JoinedGames { get; set; } = default!;

    protected override async Task OnParametersSetAsync()
    {
        ApplicationConfig = await ApplicationService.GetApplicationConfigAsync();

        if (User != null)
        {
            CreatedGames = User.PredictionGames.Where(g => g.OwnerID == User.ID);
            JoinedGames = User.PredictionGames.Where(g => g.OwnerID != User.ID);
        }
    }
}