@if (Country != null)
{
    <div class="countryCard">
        <div class="countryDiv">
            @if (Country.FlagLink != null)
            {
                <div class="countryLogoDiv">
                    <img class="countryLogo" src="@Country.FlagLink" alt="@Country.Name flag" />
                </div>
            }   
            <div class="countryName">@Country.Name</div>
        </div>
    </div>
}

@code {
    [Parameter]
    public Country? Country { get; set; }
}
