.countryCard {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 800px;
    text-align: center;
    border-radius: 20px;
}

.countryDiv {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 3%;
}

.countryLogoDiv {
    width: 10%;
    text-align: center;
    margin-right: 10px;
}

.countryLogo {
    border-radius: 5px;
    width: 80%;
}

@media (min-width: 0px) {
    .countryName {
        font-size: 1rem;
    }
}

@media (min-width: 500px) {
    .countryName {
        font-size: 1.5rem;
    }
}