@using FootballResults.DataAccess.Entities
@using FootballResults.WebApp.Services.Application
@using Microsoft.Extensions.Options

@if (Game != null)
{
    <a href="/prediction-games/@Game.ID">
        <div class="gameCard @(Game.Finished ? "finished" : "")">
            <div class="gameName">@Game.Name</div>
            <div class="gameBackground">
                <img class="gameBackgroundImage" src="@(Game.ImagePath ?? DefaultImagePath)" alt="Game background" />
            </div>
        </div>
    </a>
}

@code {
    [Parameter]
    public PredictionGame? Game { get; set; }

    [Parameter]
    public string DefaultImagePath { get; set; } = default!;
}