@page "/signup"

<PageTitle>Sign up</PageTitle>

<h1>Sign up</h1>
<p>
    With creating an account you gain access to additional features, like adding your favorite leagues and teams to the favorites for quick access.
    <br />
    You also gain access to the <span class="highlight">Prediction Games</span> subpage, where you can create and join private game rooms for competing and predicting match results of the main competitions with your friends.
</p>

<SignupForm />            