@page "/favorites"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "User")]

@inject IUserService UserService
@inject NavigationManager NavigationManager

<PageTitle>Favorites</PageTitle>

<h1>Favorites</h1>

@if (User != null)
{
    @if ((User.FavoriteLeagues.Count() == 0) && (User.FavoriteTeams.Count() == 0))
    {
        <p>You can set your leagues and teams as favorite for quicker access</p>
    }
    else
    {
        @if (User.FavoriteLeagues.Count() > 0)
        {
            <h2>Leagues</h2>

            <Virtualize TItem="League" Items="ViewHelper.GetFavoriteLeaguesFirst(User.FavoriteLeagues, User).ToList()" Context="league">
                <ItemContent>
                    <LeagueHeaderCard League="league" />
                </ItemContent>
            </Virtualize>
        }
        @if (User.FavoriteTeams.Count() > 0)
        {
            <h2>Teams</h2>

            <Virtualize TItem="Team" Items="ViewHelper.GetFavoriteTeamsFirst(User.FavoriteTeams, User).ToList()" Context="team">
                <ItemContent>
                    <TeamHeaderCard Team="team" />
                </ItemContent>
            </Virtualize>
        }
    }
}

@code {
    [CascadingParameter(Name = "User")]
    public User? User { get; set; }

    private void OnBookmarkClicked()
    {
        StateHasChanged();
    }
}
