input, ::deep input {
    margin: 10px 0;
    font-size: 1rem;
}

.error, ::deep .error {
    color: red;
}

#loginForm {
    max-width: 800px;
    margin: auto;
}

#submitDiv {
    text-align: center;
}

.button {
    max-width: 100px;
}