.form {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputsDiv {
    display: flex;
}

.leaguesIncludedDiv ::deep input {
    width: 20px;
    height: 20px;
}

label {
    margin: 1rem 0;
}

.gameBackground {
    width: 100%;
    aspect-ratio: 3.5 / 2;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 1rem;
}

ul {
    margin: 0;
    padding: 0;
}

ul ::deep label {
    margin: 0.2rem 1rem;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

li ::deep input {
    width: 10%;
}

li label {
    width: 90%;
}

.error, ::deep .error {
    margin: 0.5rem 0;
}

::deep input::-webkit-outer-spin-button,
::deep input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (min-width: 0px) {
    .inputsDiv {
        flex-direction: column;
    }

    .col, .col2 {
        width: 100%;
    }

    label {
        font-size: 5vw;
    }

    .submitDiv button, ::deep input, ::deep textarea, ul ::deep label .labelSecondary {
        font-size: 4vw;
    }

    ::deep .rewardInput {
        display: inline-block;
        width: 10vw;
        height: 10vw;
        padding: 5px;
        text-align: center
    }

    .labelSecondary {
        width: 80%;
    }
}

@media (min-width: 500px) {
    label {
        font-size: 1.5rem;
    }

    .submitDiv button, ::deep input, ::deep textarea, ul ::deep label, .labelSecondary {
        font-size: 1rem;
    }

    .inputsDiv {
        flex-direction: row;
        column-gap: 3rem;
    }

    ::deep .rewardInput {
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;
    }

    .col1, .col2 {
        width: 50%;
    }
}

::deep input, ::deep textarea, ::deep textarea:focus {
    background-color: var(--dark);
    color: var(--light);
}
