label {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.inputsDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input {
    border: 2px solid;
    border-radius: 15%;
    width: 30%;
    aspect-ratio: 1 / 1;
    text-align: center;
    margin: 5%;
}

input.default {
    border-color: var(--link);
}

input.invalid {
    border-color: var(--error);
}

input.success {
    border-color: var(--bs-success);
}

input:disabled {
    background-color: inherit;
}

@media (min-width: 500px) {
    input {
        width: 30%;
    }
}

@media (min-width: 500px) {
    input {
        width: 25%;
        font-size: 1.5rem;
    }
}