input, ::deep input {
    margin: 10px 0;
    font-size: 1rem;
}

#signupForm {
    max-width: 800px;
    margin: auto;
}

#submitDiv {
    text-align: center;
}

.button {
    max-width: 100px;
}

.alert {
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 0.8rem;
}
