.calendar {
    display: flex;
    flex-direction: column;
    background-color: var(--highlight);
    color: var(--light);
    border: 1px solid var(--dark);
    border-radius: 10px;
    margin: 0 auto 50px auto;
    width: 75%;
    aspect-ratio: 1 / 1;
    max-width: 400px;
    padding: 1%;
}

.calendar * {
    background-color: inherit;
    color: var(--light);
}

.calendar-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: center;
}

.title-header {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev-month-btn {
    width: 10%;
    padding: 0;
}

.next-month-btn {
    width: 10%;
    padding: 0;
}

.arrow {
    border: solid var(--light);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 15%;
}

.prev-month-btn:hover .arrow, .next-month-btn:hover .arrow {
    cursor: pointer;
    border-color: var(--link);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.calendar-title {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-title .dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3%;
}

.calendar-title button {
    border: none;
}

.dropdown-menu {
    background-color: var(--dark);
    border: 1px solid var(--light);
    margin-top: 15px !important;
    text-align: center;
    max-height: 200px;
    overflow: auto;
}

.dropdown-menu button {
    color: var(--light);

}

.dropdown-menu button:hover {
    color: var(--link);
}

.days-header {
    width: 100%;
    height: 50%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.days {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
}

.week {
    width: 100%;
    height: 20%;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.day {
    display: flex;
    width: 14%;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
}

.day .other-month {
    color: gray;
}

.today, .selected {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    color: var(--link);
}

.today {
    color: red;
}

@media (min-width: 0px) {
    .days-header .day {
        font-size: 2.5vw;
    }

    .days .day {
        font-size: 3vw;
    }

    .calendar-title, .dropdown-menu button {
        font-size: 4vw;
    }
}

@media (min-width: 400px) {
    .days-header .day {
        font-size: 1rem;
    }

    .days .day {
        font-size: 1.3rem;
    }
    .calendar-title, .dropdown-menu button {
        font-size: 1.5rem;
    }
}

@media (min-width: 1800px) {
    .calendar {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 1rem;
        position: fixed;
    }
}