@page "/search"
@inherits SearchBase

@if (Leagues != null && Leagues.Count() > 0)
{
    <h1>Leagues</h1>
    <div class="leagues">
        @foreach (var league in Leagues.OrderBy(l => l.Name))
        {
            <LeagueCard League="league" />
        }
    </div>
}
@if (Teams != null && Teams.Count() > 0)
{
    <h1>Teams</h1>
    <div class="teams">
        @foreach (var team in Teams.OrderBy(t => t.Name))
        {
            <TeamCard Team="team" />
        }
    </div>
}
@if ((Leagues != null && Leagues.Count() == 0) && (Teams != null && Teams.Count() == 0))
{
    <h1>No results found</h1>
}