@page "/"
@inherits HomeBase

<PageTitle>Home</PageTitle>


@if (Matches != null)
{
    @if (Matches.Any())
    {
        <h1>Matches today</h1>
        @foreach (Match match in Matches)
        {
            <MatchCard Match="match" />
        }
    }
    else
    {
        <h1>No matches on this day 😒</h1>
    }

}
else
{
    <LoadingSpinner />
}