.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leagueHeader {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    width: 100%;
}

.nameHeader {
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.leagueLogo {
    margin: auto;
    margin-bottom: 50px;
    width: 50%;
    max-width: 200px;
}

.subMenu {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.subMenu button {
    background-color: var(--dark);
    border: none;
    color: var(--light);
    font-size: 1.5rem;
    margin: 0 5vw;
}

.subMenu button:hover {
    color: var(--link);
}

.subMenu button.active {
    color: var(--link);
}

.roundName {
    margin: 5vh 0;
}

@media (min-width: 0px) {
    .nameHeader {
        font-size: 1.8rem;
    }

    .subMenu button {
        font-size: 5vw;
    }
}

@media (min-width: 500px) {
    .nameHeader {
        font-size: 2.5rem;
    }

    .subMenu button {
        font-size: 1.8rem;
    }
}

@media (min-width: 1200px) {
    .header {
        flex-direction: row;
    }
}
