@page "/matches"

@inherits MatchesBase

@rendermode InteractiveServer

<input type="date" @bind="SelectedDate" @bind:after="LoadMatches" />

@if (LeaguesWithMatches != null)
{
    @if (LeaguesWithMatches.Any())
    @foreach (LeagueWithMatches leagueWithMatches in LeaguesWithMatches)
    {
        <LeagueCard League="leagueWithMatches.league" Matches="leagueWithMatches.matches" />
    }

    else
    {
        <h1>No matches on this day 😒</h1>
    }
}
else
{
    <LoadingSpinner />
}
