.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leagueHeader {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.nameHeader {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.teamLogo {
    margin-bottom: 50px;
}

.subMenu {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 50px;
}

.subMenu button {
    background-color: #111111;
    border: none;
    color: white;
    font-size: 1.5rem;
    margin: 0 5vw;
}

.subMenu button:hover {
    color: var(--bs-link-color);
}

.subMenu button.active {
    color: var(--bs-link-color);
}

@media (min-width: 0px) {
    .nameHeader {
        font-size: 1.8rem;
    }

    .subMenu button {
        font-size: 1.5rem;
    }
}

@media (min-width: 500px) {
    .nameHeader {
        font-size: 2.5rem;
    }

    .subMenu button {
        font-size: 1.8rem;
    }
}