.favoriteButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 10px;
}

.defaultLight {
    color: white;
}

.favorite {
    color: yellow;
}

@media (min-width: 0px)
{
    .favoriteButton {
        width: 80%;
        max-width: 20px;
    }
}

@media (min-width: 500px)
{
    .favoriteButton {
        width: 3vw;
        max-width: 40px;
    }
}