.favoriteButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 10px;
}

.favoriteButton {
    height: 80%;
    width: 80%;
    max-width: 50px;
}

.defaultLight {
    color: white;
}

.favorite {
    color: yellow;
}