@if (Country != null)
{
    <div class="countryCard">
        <div class="countryDiv">
            @if (Country.FlagLink != null)
            {
                <div class="countryLogoDiv">
                    <img class="countryLogo" src="@Country.FlagLink" alt="@Country.CountryID flag" />
                </div>
            }   
            <div class="countryName">@Country.CountryID</div>
        </div>
        @foreach (League league in Country.Leagues)
        {
            <LeagueCard League="league" />
        }
    </div>
}

@code {
    [Parameter]
    public Country? Country { get; set; }
}
