#searchBar {
    background-color: var(--dark);
    color: var(--light);
    border-color: var(--light);
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    box-shadow: none;
    height: 100%;
    max-height: 30px;
    margin: 0 5%;
}

::placeholder {
    color: var(--light);
}