form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#searchBar {
    border-radius: 15px;
    text-align: center;
    width: 50%;
    max-width: 50em;
    height: calc(2rem + 0.5vh);
    box-shadow: none;
}

@media (max-width: 500px) {
    #searchBar {
        max-width: 50vw;
    }
}