.positionBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.positionBlock * {
    color: var(--light) !important;
}

.position {
    text-align: center;
    margin: 30px 0px;
}

table, th, td, tr {
    background-color: var(--dark);
    color: white;
}

.player:hover td {
    background-color: var(--link-hover);
}

.playersTable {
    margin: auto;
    vertical-align: middle;
    max-width: 1000px;
}

.playerPhoto {
    border-radius: 100%;
}

@media (min-width: 0px) {
    .playerPhoto {
        width: 30px;
    }

    .position {
        font-size: 1.5rem;
    }
}

@media (min-width: 500px) {
    .playerPhoto {
        width: 70px;
    }

    td, th {
        font-size: 1.2rem;
    }
}