#explanation {
    text-align: left;
}

span {
    color: var(--link);
}

.title {
    width: 100%;
    color: var(--light);
    text-align: center;
}

.subMenuContent {
    max-width: 800px;
    margin: auto;
}