<h2>My games</h2>

@if (User.Games != null)
{
    @if (CreatedGames.Count() > 0)
    {
        <div class="gameList">
            @foreach (var game in CreatedGames.OrderBy(g => g.IsFinished).ThenByDescending(g => g.CreatedAt))
            {
                <GameCard Game="game" />
            }
        </div> 
    }
    else
    {
        <p>
            You are not participating in any prediction game yet. You can create your own game or join an existing one via
            the Create game and Join game menupoints
        </p>
    }
}
else
{
    <LoadingSpinner />
}

<h2>Joined games</h2>

@code {
    [Parameter]
    public User User { get; set; } = default!;

    private IEnumerable<PredictionGame> CreatedGames { get; set; } = default!;

    private IEnumerable<PredictionGame> JoinedGames { get; set; } = default!;

    protected override void OnParametersSet()
    {
        CreatedGames = User.Games.Where(g => g.OwnerID == User.UserID);
        JoinedGames = User.Games.Where(g => g.OwnerID != User.UserID);
    }
}