#gameContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

.gameStandingCol, .leagueStandingsCol, .matchesCol {
    display: flex;
    flex-direction: column;
    width: 100%;
}

p {
    text-align: center;
    margin-top: 20px;
}

::deep .contentGroup {
    font-size: 0.5rem !important;
    max-height: 500px;
    padding: 10px;
    overflow-y: auto;
}

::deep .contentGroup::-webkit-scrollbar {
    display: none;
}

::deep th, ::deep td {
    font-size: 1rem
}

@media (min-width: 1024px) {
    #gameContent {
        flex-direction: row;
    }

    .gameStandingCol, .leagueStandingsCol {
        width: 30%;
    }

    .matchesCol {
        width: 40%;
    }
}