.subMenu {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.subMenu button {
    background-color: var(--dark);
    border: none;
    color: var(--light);
    font-size: 1.5rem;
    margin: 0 5vw;
}

.subMenu button:hover {
    color: var(--link);
}

.subMenu button.active {
    color: var(--link);
}

p {
    text-align: center;
}

p span:hover {
    cursor: pointer;
}

@media (min-width: 0px) {
    .subMenu button {
        font-size: 5vw;
    }
}

@media (min-width: 400px) {
    .subMenu button {
        font-size: 1.5rem;
    }
}